/*set the container width*/
.stl-container {width: 950px;}
/*any link style updates*/
a {text-decoration: underline;}

/*does the main div need a background?*/
div#stl-cms {
	/*background-color: #F1F1F1;
  background-image: url("http://www.hood.edu/common/images/subpage-bg.gif");
  background-repeat: repeat-x;
  position: relative;*/
}

/*breadcrumbs will probably vary widely between sites*/
/*Hide both breadcrumbs and share widget:  #stl-cms .stl-breadcrumbs {display:none;} */ 
#stl-cms .breadcrumb {
}
.breadcrumb a {color: #ffffff; }
.breadcrumb li:after {
    content: "|";
}
/*share wrapper is at the end of the breadcrumb bar*/
.stl-share-wrapper {}

/*left nav*/
#stl-cms ul.stl-nav  {}
#stl-cms ul.stl-nav li.onTrail > a {}

/*set the button color, rounded corners (default) vs no rounded corners */
#stl-cms .stl-button, .stlButton {background-color: #EEEEEE; color: #2f608b; border-radius:0;}
/*home page journey buttons may be special*/
#stl-cms  .stl-journey-paths .stl-button {font-size:1.3em;}

/*sidebar items may want to be in boxes with a background - this may move into the site control */
#stl-whats-new, .learn-how-to-fund, .pull-right , .GIfeature  {background: #FFF; padding:10px; margin-bottom:20px;}
#stl-whats-new  ul {padding:0; margin: 0 0 0 10px ;}

/*put what's new into a box with a header*/
#stl-whats-new {border: 1px solid #D9D9D9; margin-bottom:20px;}
#stl-whats-new  h3.stl-whats-new-title {background-color: #D9D9D9; color: black; padding:10px;}
#stl-whats-new  ul {padding:10px; margin: 0 0 0 10px; list-style-type:square;}

/*mouse over box border*/
.popup-flyover {border-color: #2f608b;}

	
/****************************************
		 Gift Exclusions (ge) 
****************************************/	

/* Charitable Gift Annuities 
.ge-cga {display:none !important; visibility:hidden !important;} */
		
/* Deferred Charitable Gift Annuities 
.ge-dcga {display:none !important; visibility:hidden !important;} 	*/

/* Retained Life Estate 
.ge-rle {display:none !important; visibility:hidden !important;}*/ 
		
/* Bargain Sale 
.ge-bs {display:none !important; visibility:hidden !important;} */		

/* Memorial Gift 
.ge-mem {display:none !important; visibility:hidden !important;} */		

/* Endowed Gift 
.ge-endow {display:none !important; visibility:hidden !important;}*/ 

/* Donor Advised Funds 
.ge-daf {display:none !important; visibility:hidden !important;}*/ 		

/* Charitable Remainder Unitrust 
.ge-crut {display:none !important; visibility:hidden !important;} */	

#stl-cms {
	background:#F4F1EB url(https://www.concordiacollege.edu/images/bg_body.png) repeat top center !important;
}

.stl-container  {
	margin-top:240px !important;
}

.stl-whats-new{
	background: #FFCF46;
	border-top: 4px solid rgba(0, 0, 0, 0.10);
	width:233px;
}

.stl-whats-new-title {
	text-align: center;
}
.stl-whats-new-title img {
	margin-bottom: 10px;
}

.stl-whats-new .pull-right #stl-whats-new {
	background: transparent;
	border:0;
	margin-bottom: 0;
}
.stl-whats-new .pull-right #stl-whats-new h3 {
	background-color: transparent;
	color: #3F3C38;
font-family: FrutigerCondensed, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 115%;
margin: 0 0 5px;
text-align: center;
text-transform: none;
text-shadow: 0 1px 0px rgba(255, 255, 255, 0.45);
}


#stl-cms ol.breadcrumb {
	padding:20px 0 !important;
	width:100%;
	
}

#stl-cms ol.breadcrumb li:before,#stl-cms ol.breadcrumb li:after  {
	content:none;
}

#stl-cms ol.breadcrumb li a,#stl-cms ol.breadcrumb li{
border: none;
color: #726C66;
display: inline-block;
font-family: Frutiger, sans-serif;
font-style: normal;
font-weight: 200;
font-size: 13px;
height: 13px;
margin: 0 0 0 5px;
overflow: hidden;
text-transform: uppercase;
text-overflow: ellipsis;
white-space: nowrap;
text-decoration: none;
}

#stl-cms ol.breadcrumb li:last-child:before {
	background: url(https://www.concordiacollege.edu/images/icons.png) no-repeat -290px -60px;
content: ''!important;
display: block;
float: left;
height: 6px;
margin: 4px 10px 0 0;
width: 4px;
}
#stl-cms ol.breadcrumb li a:hover {
color: #3F3C38;
border: none;
}
#stl-cms ol.breadcrumb li.current {
color:#930C30;
}

#stl-cms ol.breadcrumb li a:before {
background: url(https://www.concordiacollege.edu/images/icons.png) no-repeat -290px -60px;
content: '';
display: block;
float: left;
height: 6px;
margin: 4px 10px 0 0;
width: 4px;
}

.stl-page-header {
	color: #48443F;
font-family: Minion, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 1.3;
margin: 0px 0 15px;
font-size: 43px;
line-height: 1.1;
}

.navigation.section-nav {
background: transparent;
margin: 0;
padding: 0;
}


#stl-cms ul.stl-nav li a {
	border:0;
}

.navigation.section-nav ul li ul li a {
	color:white;

}

#stl-cms ul.stl-nav li.onTrail > a {
display: block;
font-family: FrutigerCondensed, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
margin: 0 25px;
padding: 15px 0 13px;
text-transform: uppercase;
color:white;
}

#stl-cms ul.stl-nav li.onTrail ul li a {
display: block;
font-size: 14px;
margin: 0 25px;
text-transform: uppercase;
border: none;
color: rgba(255, 255, 255, 0.6);
font-family: FrutigerCondensed, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 1.2;
padding: 7px 0 7px 15px;
}

#stl-cms ul.stl-nav li.onTrail ul li a:before{
background: rgba(255, 255, 255, 0.6);
content: '';
display: block;
float: left;
height: 1px;
margin: 7px 10px 0 -15px;
width: 5px;
}

#stl-cms ul.stl-nav li.currentPage{
	padding:0 0 13px;
}

.stl-container > div.stl-colwrap > div.stl-col.stl-left {
	background:white;
}

.navigation.section-nav ul li a {
	text-decoration: none;
}

#stl-cms ul.stl-nav  li:before{
	content:none;
}

#stl-cms ul.stl-nav {
	background: #731029;
	margin: -1px 0 0;
}

#stl-cms div.stl-container {
	max-width:1200px;
	width:100%;
	padding:40px 20px 20px 20px;
}

.stl-page-title {
	color: #48443F;
	font-family: FrutigerCondensed, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 1.5;
	margin: 20px 0;
}

#stl-whats-new li{
	list-style-type: disc;
}

#stl-whats-new li:before{
	content:none;
}
#stl-whats-new a {
	color: rgba(38, 42, 44, .85);
font-family: FrutigerCondensed, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
}

.stl-container.stl-foot-contain {
	margin:0 auto;
	margin-top:0 !important;
}

.stl_Callout {
	background:white;
}
.stl_CalloutLink:hover {
	color: #DC002F;
}
.stl_CalloutLink {
	border-bottom: 1px solid #D9D2C8;
color: #731029;
display: block;
font-family: FrutigerCondensed, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
margin: 0 25px;
padding: 15px 0 13px;
text-transform: uppercase;
}


.gridlock .row {
	width:100%;
}
ol li:before {
	content:none !important;
}

.stl-footer #stl-cms {
	padding-bottom:0;
	background:none;
}

#footer .row {
padding:50px;
}

.stl_CalloutLink {
	text-decoration: none;
	border-bottom:0;
}


#stl-cms div.stl-info-slider div.stl-slider-wrap ul li {
	border-bottom: 0;
	padding: 5px 5px 0;
}
 
#stl-cms div.stl-info-slider div.stl-slider-wrap ul li a {
	text-decoration: none;
	font-size: 15px;
}
#stl-cms div.stl-info-slider div.stl-slider-wrap ul li a:hover {
	color:rgba(255,255,255,.6);
}
#stl-cms div.stl-info-slider div.stl-slider-wrap ul li:before {
	background: rgba(255, 255, 255, .8);
	content: '';
	display: block;
	float: left;
	height: 1px;
	margin: 7px 10px 0 -15px;
	width: 5px;
}

#stl-cms div.stl-info-slider div.stl-slider-wrap ul {
	height: 500px;
	padding:20px;
}

#stl-cms div.stl-info-slider div.stl-slider-wrap {
	
	border:solid 4px #47443f;

}

::-webkit-input-placeholder {
   color: #a6a3a4;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a6a3a4;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a6a3a4;  
}

:-ms-input-placeholder {  
   color: #a6a3a4;  
}


/* HORIZONTAL RULES*/
.stl-not-sure  {
	box-shadow: 0px -1px 0px #d9d7d3,0px 1px 0px white;
border-bottom: solid 1px #d9d7d3;
border-top: solid 1px white;
padding:39px 0;
}

.notSure {
	padding:21px 24px;
	border:solid 12px white;
	background:#67add1;
}

.not-sure-inside p, .not-sure-inside h3, .not-sure-inside a {
	color:white !important;
	padding:0;
	margin:0;
}

.stl-journey-paths {
	border-top: solid 1px white;
	box-shadow: 0px -1px 0px #d9d7d3
}

.stl-copyright {
	box-shadow: 0px 1px 0px white;
	border-bottom: solid 1px #d9d7d3;
	text-align:center;
}
.stl-copyright p {
	font-size: 12px;
}