/*set the container width*/
#stl-cms div.stl-container {
	background: url(http://www.macalester.edu/resources/v2/web-imgs/homepagebodybg.gif) top left repeat-y #CFC2B9;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width:976px;
}
div.navigation {
	width: auto !important;
}
.stl-container > .stl-colwrap {
	 background:#fbf9f7;
	 width: 951px;
	 margin: auto;
}

body,#stl-cms {
	background: #ded7cf;
	padding: 0;
}
/*any link style updates*/
a {text-decoration: underline;}

/*does the main div need a background?*/
div#stl-cms {
	/*background-color: #F1F1F1;
  background-image: url("http://www.hood.edu/common/images/subpage-bg.gif");
  background-repeat: repeat-x;
  position: relative;*/
}

/*breadcrumbs will probably vary widely between sites*/
/*Hide both breadcrumbs and share widget:  #stl-cms .stl-breadcrumbs {display:none;} */ 
#stl-cms .breadcrumb {
}
.breadcrumb a {color: #ffffff; }
.breadcrumb li:after {
    content: "|";
}
/*share wrapper is at the end of the breadcrumb bar*/
.stl-share-wrapper {}

/*left nav*/
#stl-cms ul.stl-nav  {margin: 0;}
#stl-cms ul.stl-nav li.onTrail {padding:0 0 0 0px;}
#stl-cms ul.stl-nav li.onTrail > a {text-transform: none;}

/*set the button color, rounded corners (default) vs no rounded corners */
#stl-cms .stl-button, .stlButton {background-color: #EEEEEE; color: #2f608b; border-radius:0;}
/*home page journey buttons may be special*/
#stl-cms  .stl-journey-paths .stl-button {font-size:1.3em;}

/*sidebar items may want to be in boxes with a background - this may move into the site control */
#stl-whats-new, .learn-how-to-fund, .pull-right , .GIfeature  {background: #FFF; padding:10px; margin-bottom:20px;}
#stl-whats-new  ul {padding:0; margin: 0 0 0 10px ;}

/*put what's new into a box with a header*/
#stl-whats-new {border: 1px solid #D9D9D9; margin-bottom:20px;}
#stl-whats-new  h3.stl-whats-new-title {background-color: #D9D9D9; color: black; padding:10px;}
#stl-whats-new  ul {padding:10px; margin: 0 0 0 10px; list-style-type:square;}

/*mouse over box border*/
.popup-flyover {border-color: #2f608b;}

.stl-copyright p {
	font-size: 10px;
}

.breadcrumb li a:after {
	content: ">";
	display: inline;
	margin-left: 5px;
}

.breadcrumb li:after {
	content:none;

}

.breadcrumb {
	padding:7px;
}
.breadcrumb li a {
	color: #c1bec2;
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}
.breadcrumb li{
	color: #c1bec2;
	display: block;
	float: left;
	font-size: 10px;
	list-style: none;
	margin-right: 5px;
	text-transform: uppercase;
}

#stl-cms div.stl-drop-down div.stl-drop-wrap ul li a {
display: block;
padding: 2px 25px;
color: black;
}

#stl-cms div.stl-drop-down.stl-above div.stl-drop-wrap {
top: auto;
bottom: 60px;
}

#stl-cms div.stl-drop-down div.stl-drop-wrap {
	background:rgba(255,255,255,.8);
}

#stl-cms .stl-heading-text {
	background: #8c984a;
}


.pull-right {
	background: none;
	width: 100%;
	float: right;
	margin: 0;
	padding: 0;
}

.stl-whats-new {

display: inline-block;
width: 40%;
float: right;
margin-left: 20px;

}

#stl-whats-new {
	border:0;
	background: #efebe8;
}

#stl-whats-new li {
	margin-bottom: 10px;
}
#stl-whats-new ul {
	list-style: none;
}
#stl-whats-new h3.stl-whats-new-title {
	background: none;
text-align: center;
font-family: "Adobe Garamond Pro", garamond, georgia, "times new roman", serif;
text-transform: none;
font-size: 24px!important;
font-weight: 100;
color: #686868;
margin: 0!important;
}
	
/****************************************
		 Gift Exclusions (ge) 
****************************************/	

/* Charitable Gift Annuities 
.ge-cga {display:none !important; visibility:hidden !important;} */
		
/* Deferred Charitable Gift Annuities 
.ge-dcga {display:none !important; visibility:hidden !important;} 	*/

/* Retained Life Estate 
.ge-rle {display:none !important; visibility:hidden !important;}*/ 
		
/* Bargain Sale 
.ge-bs {display:none !important; visibility:hidden !important;} */		

/* Memorial Gift 
.ge-mem {display:none !important; visibility:hidden !important;} */		

/* Endowed Gift 
.ge-endow {display:none !important; visibility:hidden !important;}*/ 

/* Donor Advised Funds 
.ge-daf {display:none !important; visibility:hidden !important;}*/ 		

/* Charitable Remainder Unitrust 
.ge-crut {display:none !important; visibility:hidden !important;} */	



div.navigation {
	width:auto;
	background: #ea8106;
	margin: -40px 0 8px 0;
	padding: 9px 7px;
	position: relative;
	z-index: 2;
	zoom: 1;
}
div.navigation li {
	border: solid 1px #f49c42;
	list-style: none;
	margin: 0;
	margin-top: -1px;
	padding: 0;
}
#stl-cms ul.stl-nav {
	border-top:0;
}
#stl-cms ul.stl-nav li a{
background: none;
color: #FFF;
display: block;
font-weight: bold;
padding: 10px 0 10px 25px;
text-shadow: #EA8106 0px 0px 2px;
text-transform: uppercase;
border-bottom:0;
}
#stl-cms ul.stl-nav li a:hover{
background: url(http://www.macalester.edu/resources/v2/web-imgs/subsitemenu_bg.jpg) 0px 10px no-repeat;
background-position: 0px 10px !important;
text-decoration: none;
}

#stl-cms ul.stl-nav > li:first-child a {
	font-family: garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 1.9em;
	font-weight: normal;
	line-height: normal;
	text-shadow: #EA8106 0px 0px 2px;
	text-transform: none;	
}

#stl-cms ul.stl-nav li:nth-child(7) a {
	background: url(http://www.macalester.edu/resources/v2/web-imgs/subsitemenu_bg.jpg) 0px 10px no-repeat;
}

#stl-cms ul.stl-nav li:nth-child(7) {
border-bottom:0;
}

#stl-cms ul.stl-nav ul li {
	border:0;
}

li.onTrail.currentPage {
border-bottom: 0;
border-top: 0;
}

#stl-cms ul.stl-nav ul li a {
font-size: 1em;
padding: 0 10px 10px 40px;
line-height: 17px;
text-transform: none;
font-weight: 400;
}
#stl-cms ul.stl-nav ul li a:hover {
	background: url(/Images/M/macalester-college/subnavhover.jpg) 0px 2px no-repeat !important;
	background-position: 0px 2px !important;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.stl-colwrap :before,
.stl-colwrap :after {
    content: " "; /* 1 */
    display: table; /* 2 */
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.stl-colwrap  {
    *zoom: 1;
}


.stl-page-header{font-family: Garamond, "Times New Roman", Times, serif;
font-weight: normal;
line-height: 1.3em;
margin-left: 8px;
margin-right: 8px;
text-shadow: #695B6C 0px 0px 2px;
clear: left;
color: #fff;
font-size: 2.7143em;
letter-spacing: .5px;
padding: 0px 0 0 10px;
margin: 0px;
}

.stl-page-title{font-family: "Adobe Garamond Pro", garamond, georgia, "times new roman", serif;
font-size: 38px;
line-height: 1.2;
color: #333;
margin-top: 22px;
margin-bottom: 22px;
margin-right: 8px;
margin-left: 8px;
font-weight: 100;
}


div.stl-colwrap div.stl-col.stl-w-03, .stl-center .col-sm-3{
	width: 271px;
margin: 0 8px 0 0;
}

div.stl-colwrap div.stl-col.stl-w-09, .stl-center .col-sm-9 {
	width: 672px;
}

.stl-breadcrumbs {
padding: 10px 0 0 10px;
position: relative;
z-index: 1;
margin: 0 !important;
width: 100%!important;
}
a.buttonvolunteer span, a.buttongive span {
	visibility:hidden;
	display: inline-block;
}

.sidebarButton p {
	margin-bottom: 0;
}

h3, h3.legend {
font-family: "Adobe Garamond Pro", garamond, georgia, "times new roman", serif !important;
font-size: 22px !important;
line-height: 25px !important;
color: #333!important;
margin-right: 8px !important;
margin-left: 8px !important;
text-transform: none !important;
font-weight: 100 !important;
margin-bottom: 1em !important;
}

.stl-not-sure {
	width: 41%;
	float: left;
	margin-right: 8%;
}

.sub-middle-section .row  .col-xs-12 {
	width: 31%;
float: left;
}

.sub-middle-section .row  .col-xs-12 img {
	margin-bottom:33px;
}

#stl-cms .stl-fl-left {
	float:none !important;
	margin: 0 auto 25px !important;
display: block !important;
}

.sub-middle-section {
padding: 0 20px 0 0;
width: 652px !Important;
margin-top: -75px !important;
position: relative;
z-index: 200;
}

.adventure img {
	width:100%;
}

.adventure .stl-w-04 .stl-heading-text {
	margin-left:0px;
	margin-right:0px;
}


strong {
	display: inline-block;
}

.eBrochure, .stl-pepc-promo {
	border: solid 1px #a99180;
	text-align: center;
	background: #efebe8;
	padding: 5px;
	margin-bottom: 20px;
}

.eBrochure p, .stl-pepc-promo p {
	margin:0 0 10px 0;
	line-height: 1.4;
}

.eBrochure .stlButton  {
	background:#8c984a;
	color:white;
	padding:10px 17px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 400;
}
.eBrochure .stlButton:hover {
	background:#A8B466
	}
.pull-right {
	margin: 0 0 20px 10px;
}

.stl-colwrap :before, .stl-colwrap :after {
	content:none;
}

a.flyover-link {
	font-weight: 800;
	color:#81329e;
}

.see-how-it-works h3 {
	font-size: 38px !important;
}

.stl-video-learn-row .col-sm-8{
	width:56.333333%;
}
.stl-video-learn-row .col-sm-4{
	width: 39.666666%
}

div.documentDesc, div.documentDescFull {
margin-left: 280px;
margin-right: 9px;
padding: 3em;
width: 565px;
}

div.documentHead {
	background: #7e6787;
	padding-top: 10px;
	position: relative;
	z-index: 1;
	width: 952px;
	margin-left: 225px;
}

#stl-whats-new, .learn-how-to-fund, .pull-right, .GIfeature {
	background: none;
}