.whats_new {

	padding:20px 25px;
}

.whats_new .icon:before {
  background:url(/images/WhatsNewIcon.png) no-repeat !important;
  padding:0 0 0 18px  ;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
}

.journey a {
	border-bottom:0 !important;
}

.journey a img {
	border:solid 3px #47443f;
	width:100%;
}