/*set the container width*/
.stl-container {width: 950px;}
/*any link style updates*/
a {text-decoration: underline;}

/*does the main div need a background?*/
div#stl-cms {
	/*background-color: #F1F1F1;
  background-image: url("http://www.hood.edu/common/images/subpage-bg.gif");
  background-repeat: repeat-x;
  position: relative;*/
}

/*breadcrumbs will probably vary widely between sites*/
/*Hide both breadcrumbs and share widget:  #stl-cms .stl-breadcrumbs {display:none;} */ 
#stl-cms .breadcrumb {
}
.breadcrumb a {color: #ffffff; }
.breadcrumb li:after {
    content: "|";
}
/*share wrapper is at the end of the breadcrumb bar*/
.stl-share-wrapper {}

/*left nav*/
#stl-cms ul.stl-nav  {}
#stl-cms ul.stl-nav li.onTrail > a {}

/*set the button color, rounded corners (default) vs no rounded corners */
#stl-cms .stl-button, .stlButton {background-color: #EEEEEE; color: #2f608b; border-radius:0;}
/*home page journey buttons may be special*/
#stl-cms  .stl-journey-paths .stl-button {font-size:1.3em;}

/*sidebar items may want to be in boxes with a background - this may move into the site control */
#stl-whats-new, .learn-how-to-fund, .pull-right , .GIfeature  {background: #FFF; padding:10px; margin-bottom:20px;}
#stl-whats-new  ul {padding:0; margin: 0 0 0 10px ;}

/*put what's new into a box with a header*/
#stl-whats-new {border: 1px solid #D9D9D9; margin-bottom:20px;}
#stl-whats-new  h3.stl-whats-new-title {background-color: #D9D9D9; color: black; padding:10px;}
#stl-whats-new  ul {padding:10px; margin: 0 0 0 10px; list-style-type:square;}

/*mouse over box border*/
.popup-flyover {border-color: #2f608b;}

	
/****************************************
		 Gift Exclusions (ge) 
****************************************/	

/* Charitable Gift Annuities 
.ge-cga {display:none !important; visibility:hidden !important;} */
		
/* Deferred Charitable Gift Annuities 
.ge-dcga {display:none !important; visibility:hidden !important;} 	*/

/* Retained Life Estate 
.ge-rle {display:none !important; visibility:hidden !important;}*/ 
		
/* Bargain Sale 
.ge-bs {display:none !important; visibility:hidden !important;} */		

/* Memorial Gift 
.ge-mem {display:none !important; visibility:hidden !important;} */		

/* Endowed Gift 
.ge-endow {display:none !important; visibility:hidden !important;}*/ 

/* Donor Advised Funds 
.ge-daf {display:none !important; visibility:hidden !important;}*/ 		

/* Charitable Remainder Unitrust 
.ge-crut {display:none !important; visibility:hidden !important;} */	

.stl-cms {
	background:#F4F1EB url(https://www.concordiacollege.edu/images/bg_body.png) repeat top center;
}

.stl-container  {
	margin-top:240px;
}

